.warooncomplete {
  
  position: relative;
  display: inline-block;
}
.warooncomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
.warooncomplete input[type=text] {
  background-color: #fdfcfc;
  width: 100%;
}

.warooncomplete-items {
  position: absolute;
  border: 1px solid #f1f1ce;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  
  top: 100%;
  left: 0;
  right: 0;
}
.warooncomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(215, 226, 215);
  border-bottom: 1px solid #d4d4d4;
}
.warooncomplete-items div:hover {
  background-color: #e9e9e9;
}
